.text {
    font-size: 14px;
    color: red;
}

.index__title___3JCJR {
    line-height: 40px;
    text-align: center;
    letter-spacing: .1em;
}

.index__titlePixnet___3Y30S {
    color: white;
    background-color: royalblue;
}

.index__titleF2e___3Iqnd {
    color: black;
    background-color: yellow;
}
